<title><%= Settings.project_name %> | <%= Settings.one_liner %></title>

<!-- General -->
<meta name="keywords"             content="<%= Settings.project_name %>, <%= Settings.keywords %>, <%= Settings.name %>">
<meta name="description"          content="<%= Settings.description %>">
<link rel="shortcut icon"         href="//<%= Settings.website %>/logo.png">
<link rel="image_src"             href="//<%= Settings.website %>/logo.png">
<link rel="canonical"             href="//<%= Settings.website %>"/>

<!-- Facebook -->
<meta property="og:image"         content="//<%= Settings.website %>/logo.png"/>
<meta property="og:url"           content="//<%= Settings.website %>"/>
<meta property="og:title"         content="<%= Settings.project_name %> | <%= Settings.one_liner %>"/>
<meta property="og:description"   content="<%= Settings.description %>"/>
<meta property="fb:admins"        content="<%= Settings.fb_admin %>"/>
<meta property="og:type"          content="website" />

<!-- Twitter -->
<meta name="twitter:card"         content="<%= Settings.project_name %> | <%= Settings.one_liner %>">
<meta name="twitter:site"         content="<%= Settings.twitter %>">
<meta name="twitter:title"        content="<%= Settings.project_name %> | <%= Settings.one_liner %>">
<meta name="twitter:description"  content="<%= Settings.description %>">
<meta name="twitter:creator"      content="<%= Settings.name %>">
<meta name="twitter:image:src"    content="//<%= Settings.website %>/logo.png">
<meta name="twitter:domain"       content="//<%= Settings.website %>">

<!-- Google+ -->
<meta itemprop="name"             content="<%= Settings.project_name %> | <%= Settings.one_liner %>">
<meta itemprop="description"      content="<%= Settings.description %>">
<meta itemprop="image"            content="//<%= Settings.website %>/logo.png">
<link rel="author"                href="//plus.google.com/<%= Settings.gp_admin %>"/>
